div.phpdebugbar-header {
  padding-left: 60px;
}

div.phpdebugbar-header, a.phpdebugbar-restore-btn {
  background: #efefef url('vanilla-logo.svg') no-repeat 8px 3px;
}

a.phpdebugbar-restore-btn {
  width: 45px;
}